<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IDEX_ReCT</title>
    <link rel="stylesheet" href="~/css/design.css" />
    
    <script src="~/lib/codemirror.js"></script>
    <link rel="stylesheet" href="~/lib/codemirror.css">
    <script src="~/mode/rect/rect.js"></script>
    <link rel="stylesheet" href="~/theme/ReCTClassic.css">
    <script src="~/addon/edit/closebrackets.js"></script>
    <script src="~/addon/edit/matchbrackets.js"></script>
</head>
<body>
    @RenderBody()

    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>-->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
